<!DOCTYPE html>
<html>

<head>
  <title>確認</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <h1>確認</h1>
    <p>入力内容を確認してください。</p>
    <form action="/confirmEnd" method="post" name="work">
      <div>
        <label for="name">お名前</label>
      </div>
      <div>
          <%= body.name %>
          <input type="hidden" value="<%= body.name %>">
      </div>
    
      <div>
        <label for="furigana">ふりがな</label>
      </div>
      <div>
          <%= body.furigana %>
          <input type="hidden" value="<%= body.furigana %>">
      </div>

      <div>
        <label for="age">年齢</label>
      </div>
      <div>
          <%= body.age %>
          <input type="hidden" value="<%= body.age %>">
      </div>

      <div>
        <label for="experience">経験年数</label>
      </div>
      <div>
          <%= body.experience %>
          <input type="hidden" value="<%= body.experience %>">
      </div>

      <div>
        <label for="tel">電話番号</label>
      </div>
      <div>
          <%= body.tel %>
          <input type="hidden" value="<%= body.tel %>">
      </div>

      <div>
        <label for="email">メールアドレス</label>
      </div>
      <div>
          <%= body.email %>
          <input type="hidden" value="<%= body.email %>">
      </div>
    </form>
    <div class="regist">
      <button class="button" onclick="document.work.submit();">登録</button>
    </div>
  </div>
</body>
</html>