<!DOCTYPE html>
<html>

<head>
  <title>求人募集</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <h1>求人募集</h1>
    <p>システム開発のエンジニアを募集します。</p>
    <p>応募者の情報を入力してください。</p>
    <div class="errors">
      <ul>
        <% for (var i = 0; i < errors.length; i++) { %>
          <li><%= errors[i] %></li>
        <% } %>
      </ul>
      <!-- <%= errors %> -->
    </div>
    <form action="/confirm" method="post" name="work" autocomplete="off">
      <div>
        <label for="name">お名前</label>
      </div>
      <div>
        <input id="name" name="name" type="text" value="<%= body.name %>" />
      </div>
    
      <div>
        <label for="furigana">ふりがな</label>
      </div>
      <div>
        <input id="furigana" name="furigana" type="text" value="<%= body.furigana %>" />
      </div>

      <div>
        <label for="age">年齢</label>
      </div>
      <div>
        <input id="age" name="age" type="text" class="input-number" value="<%= body.age %>" />
      </div>

      <div>
        <label for="experience">経験年数</label>
      </div>
      <div>
        <input id="experience" name="experience" type="text" class="input-number" value="<%= body.experience %>" />
      </div>

      <div>
        <label for="tel">電話番号</label>
      </div>
      <div>
        <input id="tel" name="tel" type="text" value="<%= body.tel %>" />
      </div>

      <div>
        <label for="email">メールアドレス</label>
      </div>
      <div>
        <input id="email" name="email" type="text" value="<%= body.email %>" />
      </div>
    </form>
    <div class="regist">
      <button class="button" onclick="document.work.submit();">確認</button>
    </div>
  </div>
</body>
</html>