body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto; }

h1 {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center; }

form {
  display: grid;
  grid-template-columns: 200px 1fr;
  font-size: 18px;
  border: 1px solid #ccc;
  padding: 20px; }

label {
  grid-column: 1 / 2; }

input, button {
  grid-column: 2 / 3; }

.input-number {
  width: 50px; }

.regist {
  text-align: center;
  padding: 20px; }
  .regist .button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
    border-radius: 4px; }

div.errors {
  color: #f00; }

/*# sourceMappingURL=style.css.map */